$width: 600px
$height: 600px
$blocks: 60


.map
  display: grid
  width: $width
  height: $height
  margin: 0 auto
  margin-top: 50px
  margin-bottom: 50px
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3)
  box-sizing: content-box

  grid-template-columns: repeat($blocks, 1fr)
  grid-template-rows: repeat($blocks, 1fr)
  user-select: none
  -ms-user-select: none



.empty
  background-color: #e0e9e5


.wall
  background-color: #242824

.player
  background-color: yellow

.enemy
  background-color: rgba(200, 100, 100, 1)

.bonus
  background-color: green

.boss
  background-color: rgba(240, 0, 100, 1)
  border: 1px solid black

.box
  overflow: hidden
  border: 1px solid rgba(200, 200, 200, 1/70)

.false
  background-color: black

.seen
