$width: 600px
$height: 600px
$blocks: 60

@keyframes blink-kf
  from
    opacity: 0

  to
    opacity: 100


@mixin blink-anim
  animation-duration: 1s
  animation-name: blink-kf
  animation-iteration-count: infinite

.map
  background-color: black
  display: grid
  width: $width
  height: $height
  margin: 0 auto
  margin-top: 50px

  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3)
  box-sizing: content-box
  justify-content: center

  grid-template-columns: repeat($blocks, 1fr)
  grid-template-rows: repeat($blocks, 1fr)
  user-select: none
  -ms-user-select: none

.empty
  background-color: #e0e9e5
.wall
  background-color: #552A04

.player
  background-color: yellow
  @include blink-anim
  height: 100%

.enemy
  background-color: rgba(200, 100, 100, 1)
  height: 100%

.life
  position: absolute
  font-size: 7px
  opacity: 0.5
  margin-top: -19px
  margin-left: -1px
  z-index: 100
  width: 12px
  text-align: center

.life-boss
  color: red
  font-weight: bold
.life-player
  color: green
  font-weight: bold

.bonus
  background-color: green

.boss
  background-color: rgba(240, 0, 100, 1)
  border: 1px solid black
  height: 100%

.box
  overflow: hidden
  border: 1px solid rgba(200, 200, 200, 1/70)

.false
  visibility: hidden

.dim1
  opacity: 0.6

.dim2
  opacity: 0.8

.dim3
  opacity: 0.9
