@keyframes blink-kf {
  from {
    opacity: 0; }
  to {
    opacity: 100; } }

.map {
  display: grid;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  box-sizing: content-box;
  justify-content: center;
  grid-template-columns: repeat(60, 1fr);
  grid-template-rows: repeat(60, 1fr);
  user-select: none;
  -ms-user-select: none; }

.empty {
  background-color: #e0e9e5; }

.wall {
  background-color: #242824; }

.player {
  background-color: yellow;
  animation-duration: 1s;
  animation-name: blink-kf;
  animation-iteration-count: infinite; }

.enemy {
  background-color: #c86464; }

.bonus {
  background-color: green; }

.boss {
  background-color: #f00064;
  border: 1px solid black; }

.box {
  overflow: hidden;
  border: 1px solid rgba(200, 200, 200, 0.0142857); }

.false {
  background-color: black; }
